*{
	padding : 0;
	margin : 0;
	box-sizing : border-box;
}
body{
	font-family : "Roboto", sans-serif;
}

#header{
	width : 100%;
	min-width : 1000px;
	height : 80px;
	border-collapse : collapse;
	background-color : white;
}
#header tr td img{
	height : 80px;
	padding : 1px;
	margin : 0 5px;
}
#header .cname{
	font-weight : lighter;
	font-size : 40px;
	line-height : 80px;
	font-style : italic;
	text-align : center;
}
#header tr td ul{
	float : right;
	list-style-type : none;
}
#header tr td ul li{
	float : left;
	line-height : 80px;
	background-color : rgb(200,0,0);
}
#header tr td ul li a{
	width : 150px;
	color : white;
	text-decoration : none;
	display : block;
	font-size : 14px;
	text-align : center;
}
#header tr td ul li .submenu{
	z-index : 6;
	column-count : 2;
	column-gap : 0px;
	position : absolute;
	display : none;
}
#header tr td ul li:hover .submenu{
	display : inline;
}
#header tr td ul li:hover{
	background-color : rgb(180,0,0);
	font-style : italic;
}
#header tr td ul li .submenu li{
	float : none;
	width : 150px;
	background-color : rgb(150,0,0);
	font-style : normal;
}
#header tr td ul li .submenu li:hover{
	background-color : rgb(120,0,0);
	font-style : italic;
}
#bg-container{
	background-color : grey;
	width : 100%;
	min-width : 1000px;
	height : 500px;
	z-index : 2;
	display : flex;
	justify-content : center;
	align-items : center;
}
#text{
	position : relative;
	margin-top : -500px;
	z-index : 5;
	font-size : 100px;
	font-weight : lighter;
	line-height : 500px;
	width : 100%;
	min-width : 1000px;
	text-align : center;
	background-color : rgba(0,0,0,0.2);
	color : white;
}
#notices{
	width : 80%;
	min-width : 1000px;
	margin : 20px 10% 20px 10%;
	border-radius : 30px;
	padding : 20px;
}
#notices p{
	text-align : center;
	font-size : 50px;
	color : rgb(60,80,100);
	border-bottom : 2px solid rgb(60,80,100);
}
#notices table{
	margin : 10px 0;
	width : 90%;
	margin-left : 5%;
	border-spacing : 20px;
	border: 2px solid black;
	border-radius : 10px;
}
#notices table .title td{
	background-color : rgb(200,0,0);
	color : white;
	padding : 10px;
	text-align : center;
	font-size : 30px;
}
#notices table .date td{
	font-size : 18px;
	text-align : right;
}
#notices table .description td{
	font-size : 18px;
	text-align : justify;
}